body{
	margin-top: 20px;
	backgroun d-color: #ccddaa;
}

h1{
	font-family: Verdana, sans-serife;
	font-size: 16pt;
	color: orange;
	text-align: center;
	border-style: solid;
	border-color: green;
	border-width: medium;
}
.container{
	font-family: Arial, sans-serife;
	font-size: 14pt;
	font-weight: bold;
	color: #123456;
	text-align: left;
	
	width: 480px;
	height: 360px;
	background-color: #cccccc;
	position: relative;
	margin: 0 auto; /* layaut centralizado */
	margin-top: 15px;
	margin-bottom: 15px;
	border: 25px solid yellow;
	padding: 15px;
	
	
}